{# INDIVIDUAL VIEW FOR EACH articles #}
{# You can find a full list of variables to use on this page in your CMS. #}

{% extends "templates/partials/base.html" %}

{% block content %}

 <h1>{{ item.name }}</h1>
 {% if item.types %}
 Posted In:
{% endif %}
{% for type in item.types %}     
<a href="{{ url( type ) }}">{{ type.name }}</a>{% if not loop.last %},{% endif %}
{% endfor %} 
 <hr />
{% if item.image %}  
{% for option in item.template_type %}
  {% if option.value %}
 <img src="{{ item.image.url }}" class="img-responsive"/>
 {% endif %}
 {% endfor %}
{% endif %}
  {{ item.body|safe }}


 {# List all images from this gallery. #}

  {% if item.optional_gallery %}
   <hr/>
    <h2>Gallery</h2>
    <div class="row">
      {% for image in item.optional_gallery %}
        <div class="col-md-3">
          <a href="{{ image.url }}" class="thumbnail">
            <img src="{{ image|imageCrop(200,200) }}" class="img-responsive">
          </a>
        </div>
      {% endfor %}
    </div>
     <br />
  {% endif %}

  {% if item.optional_audio %}
    <h3>{{ item.audio_name }}</h3>
        <audio src="{{ item.optional_audio.url }}" controls></audio>
         <br />
  {% endif %}

  {% if item.optional_file %}
  <h3> {{ item.file_name }}</h3>
    <a href ="{{ item.other_file.url }}" controls>Download me!</a>
    {{ item.other_file.size }} {# Size in bytes #}
    {{ item.other_file.type }} {# File type of the file #}
  <br />
  {% endif %}


 

 <hr/>
  <em>Published on {{ item.publish_date|date('F d Y') }}</em>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = '{{ about.disqus_username }}'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>



{% endblock %}
