{# INDIVIDUAL VIEW FOR EACH articles #}
{# You can find a full list of variables to use on this page in your CMS. #}

{% extends "templates/partials/base.html" %}

{% block content %}
<nav data-search-index="false">
  <h1>{{ item.name }}</h1>
    <hr/>
{% for object in item.articles_in_this_category %}
   <a href="{{ url(object) }}">
            <h3 class="media-heading">{{ object.name }}</h3>
          </a>
            <em>{{ object.publish_date|date('F d Y') }}</em>

    {% if object.types %}
    | 
    {% endif %}
{% for type in object.types %}     
<a href="{{ url( type ) }}">{{ type.name }}</a>{% if not loop.last %},{% endif %}
{% endfor %} 
                
  {% if object.image %} 
  <a href="{{ url(object) }}"><img src="{{ object.image.url }}" style="  
  height: 250px;
  width: 100%;
  background: pink;
  object-fit: cover;
    overflow: hidden; "></a>
  {% endif %}
         
  <h4>{{ object.short_version }}</h4>

        <hr/>



{% endfor %}
</nav>

{% endblock %}
