<nav data-search-index="false">
<div class="text-center">
    {% if about.name %}
  <a href="/about/"><img src="{{ about.picture_of_you|imageCrop(140,140) }}" class="img-circle" /></a>
    <h2>{{ about.name }}</h2>
    <p class="lead">{{ about.one_liner_bio }}</p>
    {% endif %}

  <h3>Categories</h3>

  <p align="left"><h4>Blogs</h4></align></p>
  {% for category in cms.category|sort('name') %}
  <a href="{{ url( category) }}">{{ category.name }}</a>  
  <br/> 
{% endfor %}
  <p align="left"><h4>Projects</h4></align></p>
  {% for type in cms.type|sort('name') %}
  <a href="{{ url( type ) }}">{{ type.name }}</a>
  <br/>  
{% endfor %}

  <p align="left"><h4>Reviews</h4></align></p>
  {% for platform in cms.platform|sort('name') %}
  <a href="{{ url( platform ) }}">{{ platform.name }}</a>
  <br/>  
{% endfor %}
</nav>

